.card-container {
    margin: 2rem;
}

.card {
    background: rgba(255, 255, 255, 0.06);
    border: 5px solid #43C9ED;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    flex-flow: row nowrap;
    padding: 2rem;
}

.event {
    display: flex;
    flex-flow: row nowrap;
}

.event-details {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 2rem;
}

.btn-wrapper {
    display: flex;
    flex-flow: row nowrap;
    margin: 0.5rem;
}

.eventButton {
    margin : 2rem;
    font-family: 'ibm-plex-sans, sans-serif';
    text-transform: uppercase;
    width: 181px;
    height: 50px;
    background-size: cover;
    border: 0;
    outline: none;
    color: #fff;
    font-size: normal;
    font-weight: 500;
    font-size: 16px;
  }

  @media (max-width: 900px) {
    .card {
        background: rgba(255, 255, 255, 0.06);
        border: 5px solid #43C9ED;
        box-sizing: border-box;
        border-radius: 5px;
        display: flex;
        flex-flow: row wrap;
        padding: 2rem;
    }
  }

  @media (max-width: 550px) {
    .btn-wrapper {
        display: flex;
        flex-flow: row wrap;
        margin: 2rem;
    }
  }