@font-face {
  font-family: 'Blanka';
  src: url('../../assets/FONTs/Blanka-Regular.otf') format('opentype');
}
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;300;400;500&display=swap');

.whitetext {
  color: white;
  line-height: 26px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
}
.blankaa {
  font-family: 'Blanka', sans-serif;
  color: white;
  text-shadow: -0.5px 0.5px 1px #43c9ed, 0.5px 0.5px 1px #43c9ed;
  font-size: 26px;
  letter-spacing: 0.1em;
  padding-bottom: 35px;

}

.underlines {
  position: relative;
  bottom: -9px;
  left: -155px;
}
.uembuilding {
  height: 20vw;
  width: auto;
  padding: 10px;
  border: 3px solid;
  border-radius: 8px;
  border-color: #43c9ed;
}
.buildingcontainer {
  align-self: center;
  justify-content: center;
}

@media (max-width: 600px){
  .uembuilding{
    height: 70vw;
    width: auto;
  }
}
@media (min-width:1401px){
  .uembuilding{
    height: 17vw;
    width: auto;
  }
}
@media (min-width:1600px){
  .uembuilding{
    height: 16vw;
    width: auto;
  }
}
@media (max-width:825px) and (min-width:600px){
  .underlines{
    display: none;
  }
}

@media (max-width: 538px){
  .underlines{
    display: none;
  }
}

