input {
  background-color: transparent;
  border: none;
  color: white !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: rgb(236, 236, 236);
  -webkit-box-shadow: 0 0 0px 1000px #000 transparent;
  transition: background-color 5000s ease-in-out 0s;
}
