@font-face {
    font-family: 'Blanka';
    src: url('../../assets/FONTs/Blanka-Regular.otf') format('opentype');
  }
  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap');

   .one h2 {
    position: static;
    width: 1136px;
    height: 45px;
    left: 0px;
    top: 0px;
    
    /* Heading 2 */
    
    font-family: Blanka;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    /* or 111% */
    
    letter-spacing: 0.1em;
    
    /* White */
    
    color: #FFFFFF;
    
    /* 0DB3B3 */
    
    /* border: 0.1px solid #0DB3B3; */
    /* [Web] Heading */
    
    text-shadow: -0.5px 0.5px 1px #43C9ED, 0.5px 0.5px 1px #43C9ED;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 36px 0px;
  }
  
    
    
  .pic img{
    position: static;
    width: 160px;
    height: 132px;
    left: 0px;
    top: 0px;
    
    
    border-radius: 8px;
    
    /* Inside auto layout */
    
    flex-direction: row ;
    order: 0;
    flex-grow: 0;
    margin: 0px 12px;
  }