@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

.authFont {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
}
/* .centreForm {
  padding-left: 20px;
} */
