@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

.root {
  min-height: '100vh';
}

.authFont {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
}

.profilePicBg {
  width: 68.5%;
}

.profilePic:hover.editProfilePic {
  opacity: 1;
}

.profilePic {
  width: 64%;
  mask: url(../../assets/IMGs/profile-image-container.png) center/contain no-repeat;
  position: absolute;
  top: 8px;
  left: 7px;
}

.editProfilePic {
  width: 72%;
  mask: url(../../assets/IMGs/profile-image-container.png) center/contain no-repeat;
  position: absolute;
  top: 7px;
  left: -4px;
  background-color: black;
  z-index: 10;
  opacity: 0;
  transition: 0.2s opacity ease;
  cursor: pointer;
}

.profileName {
  font-weight: 900;
  color: white;
  margin-bottom: 2rem;
}

.ureckonId {
  color: white;
  letter-spacing: 0.1em;
  margin-bottom: 2rem;
}

.submitButton {
  margin: '5rem auto';
  font-family: 'ibm-plex-sans, sans-serif';
  text-transform: 'uppercase';
  width: '181px';
  height: '50px';
  background-size: 'cover';
  border: 0;
  outline: 'none';
  color: '#fff';
  font-size: 'normal';
  font-weight: 500;
  font-size: '16px';
}
