
@font-face {
    font-family: 'Blanka';
    src:  url('../../assets/FONTs/Blanka-Regular.otf') format('opentype');
  }
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap');

.Sponsor{
    font-family:'IBM Plex Sans', sans-serif; 
    color: aliceblue;
    font-size: 36px;
}
.menufont{
    font-family: 'Blanka', sans-serif;
    font-size: 48px;
    color: white;
    letter-spacing: 0.1em;
    text-shadow: -0.5px 0.5px 1px #43C9ED, 0.5px 0.5px 1px #43C9ED;
    line-height: 2em;
}
.menulink{
    text-decoration: none;
    color: white;
}

/* .footer{
    padding-top: 10px;
} */


@media (max-width: 1250px) {
    .test{
        display: none;
    }
    .test2{
        display: none;
    }
    .test3{
        display: none;
    }
    .test4{
        display: none;
    }
  }
.test{
    position: absolute;
    top: 288px;
    right: 875px;
}
.test2{
    position: absolute;
    top: 287px;
    left: 860px;
}
.test3{
    position: absolute;
    top: 385px;
    right: 689px;
}
.test4{
    position: absolute;
    top: 383px;
    left: 681px;
}