
@font-face {
    font-family: 'Blanka';
    src:  url('../../assets/FONTs/Blanka-Regular.otf') format('opentype');
  }
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap');

.Sponsor{
    font-family:'IBM Plex Sans', sans-serif; 
    color: aliceblue;
    font-size: 36px;
}
.menufont{
    font-family: 'Blanka', sans-serif;
    font-size: 48px;
    color: white;
    letter-spacing: 0.1em;
    text-shadow: -0.5px 0.5px 1px #43C9ED, 0.5px 0.5px 1px #43C9ED;
    line-height: 2em;
}