.headingStyle {
  font-family: 'Blanka', sans-serif;
  font-size: 36px;
  color: white;
  letter-spacing: 0.1em;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  text-shadow: -0.5px 0.5px 1px #43c9ed, 0.5px 0.5px 1px #43c9ed;
  padding-left: 28px;
}
