@font-face {
    font-family: 'Blanka';
    src: url('../../assets/FONTs/Blanka-Regular.otf') format('opentype');
  }
  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;300;400;500&display=swap');

.modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer {
    width: 569px;
    height: 755px;
    border-radius: 8px;
    position: absolute;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../../assets/IMGs/modalBackground.png');
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    display: flex;
    flex-direction: column;
    padding: 36px;
    border: 0.1px solid #0DB3B3;
  }

  .modalClose {
    text-align: right;
    color: #FFFFFF;
    cursor: pointer;
  }
  
  .oldpwd {
    margin-top: 10px;
    font-family: 'Blanka', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    text-shadow: -0.5px 0.5px 1px #43C9ED, 0.5px 0.5px 1px #43C9ED;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 4px 0px; 
  }

  .alert-txt {
    position: relative;
    top: -7rem;
    right: 2rem;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: right;    
    color: #FFFFFF;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
  }

  .btn-container {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  