@font-face {
    font-family: 'Blanka';
    src: url('../../assets/FONTs/Blanka-Regular.otf') format('opentype');
  }
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;300;400;500&display=swap');


.blankaa {
    font-family: 'Blanka', sans-serif;
    color: white;
    text-shadow: -0.5px 0.5px 1px #43c9ed, 0.5px 0.5px 1px #43c9ed;
    font-size: 32px;
    letter-spacing: 0.1em;
    padding-bottom: 35px;
  
  }

  .whitetext {
    color: white;
    line-height: 26px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
  }

  .blankaaTitle {
    font-family: 'Blanka', sans-serif;
    color: white;
    text-shadow: -0.5px 0.5px 1px #43c9ed, 0.5px 0.5px 1px #43c9ed;
    font-size: 24px;
    letter-spacing: 0.1em;
    padding-bottom: 25px;
  
  }

  .uembuilding {
    height: 17vw;
    width: auto;
    padding: 10px;
    border: 3px solid;
    border-radius: 8px;
    border-color: #43c9ed;
  }

  .buttonEvents{
      width: 275px;
      height: 42px;
      padding: 8px;
      font-size: 15px !important;
      color: #FFFFFF !important;
      font-weight: 600 !important;
      text-transform: none !important;
      margin-top: 8px !important;
      margin-bottom: 8px !important;
}
  


  @media (max-width: 768px){
    .uembuilding{
      height: 70vw;
      width: auto;
    }
  }

  @media (min-width: 1235px){
    .uembuilding{
      height: 215px;
      width: auto;
    }
  }

  /* @media (min-width: 2232px){
    .uembuilding{
      height: 10vw;
      width: auto;
    }
  } */
